In [2]:
#get keyowords in python 3.6

import keyword

print(keyword.kwlist)

print("\nTotal number of keywords: ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords:  35

In [2]:
xyz = 12;
global = 1;

SyntaxError: invalid syntax (367435109.py, line 2)

In [6]:
#print Hello, world to console
print("Hello, world")

Hello, world

In [3]:
for i in range(10):
    print(i)
    print(i*2)
 print(100)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [15]:
if True:
    print("Machine Learning")
    c = "AAIC"

Machine Learning

In [16]:
if True:print("Machine Learning"); c = "AAIC"

"""; used as delimiter means it tells that line ends here and second line
starts after it"""

#better write like this as much more readible...

Machine Learning

'; used as delimiter means it tells that line ends here and second line\nstarts after it'

In [17]:
#python statement

a = 1 #single statement

In [18]:
#multi-line statement (use \(backslash) which tells part of same line)

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

In [20]:
#another way is use paranthesis
a = (1 + 2 + 3 +
  4 + 5 + 6 +
  7 + 8)
print(a)

36

In [22]:
a = 10; b = 20; c = 30 
'''put multiple statements in a single line using ;
   for writing short code snippets'''

'put multiple statements in a single line using ;\n   for writing short code snippets'

In [24]:
#we use the assignment operator (=) to assign values to a variable

a = 10  #integer
b = 5.5 #float
c = "ML" #string

In [25]:
a, b, c = 10, 5.5, "ML"

In [26]:
a = b = c = "AI"
#assign the same value to multiple variables at once

In [27]:
x = 3

print(id(x)) #print address of variable x

140720503559016

In [28]:
y = 3

print(id(y)) #print address of variable x

140720503559016

In [29]:
#in above both x and y points to same memory location
#(saves lot of spaces)

In [30]:
y = 2

print(id(y)) #print address of variable y

140720503558984

In [31]:
#Data types: 

#Numbers:

a = 5       #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [32]:
a  = 2.5  #data type is changed to float
print(a, " is of type", type(a))

2.5  is of type <class 'float'>

In [35]:
a = 1 + 2j            #data type is changed to complex number
print(a, " is a complex number?")
print(isinstance(1+2j, complex))

#isinstance(variable,data_type of the variable) function 
#doing a boolean check here that wether the 
#given number i.e. a is complex or not

print(type(a))

(1+2j)  is a complex number?
True
<class 'complex'>

In [36]:
#Boolean
a = True       #a is a boolean type
print(type(a))

<class 'bool'>

In [37]:
#Python Strings

s = 'This is Online AI course' 
a = "This is Online AI course" #both ' and " works for string

print(s)
print(type(s))

print(a)
print(type(a))

This is Online AI course
<class 'str'>
This is Online AI course
<class 'str'>

In [38]:
#multi-line string

s = '''This is Online
       AI course'''
a = """This is Online 
       AI course"""     #use ''' or """ for multi-line string

print(s)
print(type(s))

print(a)
print(type(a))

This is Online
       AI course
<class 'str'>
This is Online
       AI course
<class 'str'>

In [39]:
#Indexing in python string
print(s[0])      #print first character of string
                 #IN PYTHON INDEXING STARTS FROM 0

T

In [40]:
print(s[-1])          #print second last character of string
print(s[-2])          #print second last character of string

e
s

In [41]:
#or to print last character s[len(s)-1]
print(s[len(s)-1])

e

In [42]:
#Slicing
s[5:]      #want everything from the index 5 to end (: means 'to')

'is Online\n       AI course'

In [43]:
s[5:10]   #want everything from index 5 to 10-1

'is On'

In [45]:
#Python list

a = [10, 20.5, "Hello"]    
print(a[2],type(a))

Hello <class 'list'>

In [47]:
a[1] = 30.7
print(a)

[10, 30.7, 'Hello']

In [49]:
#Python tuples

t = (1,1.5, "ML")

In [51]:
print(t[1])

1.5

In [52]:
t[1] = 1.25

TypeError: 'tuple' object does not support item assignment

In [53]:
#Python Sets
a = {10, 30, 20, 40, 5}
print(a)

{20, 5, 40, 10, 30}

In [54]:
print(type(a))

<class 'set'>

In [55]:
#we can perform set operations like union, intersection on two sets.
#Sets have unique values

a = {10, 20, 20, 30, 30, 30}
print(a)     #automatically set won't consider duplicate elements

{10, 20, 30}

In [57]:
# ^ set here is like maths only as set does'nt stores duplicate elements
print(a[1]) #we can't print particular element in a set because
            #it's unordered collection of items(doesn't supports indexing)

TypeError: 'set' object is not subscriptable

In [58]:
#Python Dictionary

d  = {'a': "apple", 'b': "bat"} #declared like sets but different as values 
print(d['a'])                   #are put different inside dictionary

apple

In [60]:
d  = {'a': "apple", 'b': "bat"}
print(d['c'])

KeyError: 'c'

In [61]:
#Conversion between datatypes

float(5)   #convert integer to float using float() method

5.0

In [62]:
int(100.5)     #convert float to integer using int() method

100

In [63]:
str(20)      #convert integer to string

'20'

In [64]:
#Conversion to and from string must contain compatible values.

int('10p')    #not a compatible value, so can't be converted

ValueError: invalid literal for int() with base 10: '10p'

In [2]:
user = "Abhishek"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + "lines of code")
#remove str and gives error

Congratulations, Abhishek! You just wrote 100lines of code

In [67]:
user = "Abhishek"
lines = 100

print("Congratulations, " + user + "! You just wrote " + lines + "lines of code")

TypeError: can only concatenate str (not "int") to str

In [68]:
#We can convert one sequence to other

a = [1, 2, 3]

print(type(a))    #type of a is list

s = set(a)        #converted list to set using set() method

print(type(s))    #now type of s is set

<class 'list'>
<class 'set'>

In [69]:
list("Hello")     #Convert string to list using list() method

                  #a way to break-up a string into it's character list

['H', 'e', 'l', 'l', 'o']

In [70]:
#[Lec 2.6] Standard Input and Output
#Input formatting

print("Hello World")

Hello World

In [74]:
a = 10
print("The value of a is", a) #python3

#or 

print("The value of a is " + str(a))

            #before python3 print a(without parenthesis) would've worked just fine

The value of a is 10
The value of a is 10

In [76]:
#Output formatting

a = 10; b = 20 #multi-statements in single line
print("The value of a is {} and b is {}".format(a, b))  #default

The value of a is 10 and b is 20

In [77]:
a = 10; b = 20 #multi-statements in single line

print("The value of b is {1} and a is {0}".format(a, b)) 
#specify position of arguments in function format() in a string
#like index 0=a, 1=b

The value of b is 20 and a is 10

In [83]:
#we can use keyword argument to format the string (unique to python)

print("Hello {name}, {greeting}".format(name="Abhishek", greeting="Good Morning"))

Hello Abhishek, Good Morning

In [ ]:
#we can combine positional arguments with keyword arguments
print('The story of {0},{1}, and {other}'.format('Bill', 'Manfred',other='Georg'))

# Python Input

In [85]:
num = input("Enter a number: ")
print(num)

Enter a number: 56
56

In [3]:
x, y = 10, 20

#addition(+)
#subtraction(-)
#multiplication(*)
#division(/)
#modulo division(%)
#floor division(//)
#exponent(**)

print(-15//2)
#floor value - closer and less than the output and is a integer.. eg. -8

-8

In [4]:
print(2**4)   #x**y = x to the power y

16

In [ ]:
#Comparison Operator
# > , < , == , != , >= , <=

# Logical Operators

Logical operators are **and, or, not** operators.

In [5]:
a, b = True, False

#print a and b
print(a and b)

#print a or b
print(a or b)

#print not a
print(not a)

False
True
False

## Bitwise Operators

&, |, -, ^, >>, << are bitwise operators

In [7]:
a, b = 10, 4

#eg bitwise AND

print(a & b)

0

## Assignment Operators

=, +=, -=, *=, /=, %=, //=, **=, &=, |=, ^=, >>=, <<= are
assignment operators.

In [8]:
# a += 10 means a = a + 10

## Special Operators

### Identity Operators

**is and is not** are the identity operator in Python.

They are used to check if two values (or variables) are located on the same part of the memory.

In [9]:
a = 5
b = 5

print(a is b) #5 is object created once both a and b points to same object

#check is not

True

above is not true for list

In [10]:
#list

list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 is list2)

False

In [11]:
#strings

s1 = "AAIC"
s2 = "AAIC"
print(s1 is s2)

True

shows both s1 and s2 strings points to same memory location i.e same string

**Only for complex datatypes it's not true**

## Membership Operators

__in and not in__ are the membership operators in Python.

They are used to test whether a value or variable is found in a sequence(string, list, tuple, set and dictionary).

In [13]:
lst = [1, 2, 3, 4]
print(1 in lst)  #check 1 is present in a given list or not

True

In [16]:
d = {1: "a", 2: "b"} #in dictionary membership operators are used only to
                    #check key values whether they are present in dictionary or not
    
print(1 in d)
print(2 in d)

print("a" in d)
print("b" in d)

True
True
False
False

# Control Flow

## Python if .. else Statement

The **if.. elif.. else** statement is used in Python for decision making.

### if statement syntax

if test expression:
    statement(s)   (4spaces before statement(s))
    
The program evaluates the test expression and will execute statement(s) only if the text expression is True.

If the text expression is False, the statement(s) is not executed.

**Python interprets non - zero value as True. None and 0 are interpreted as False**

## Flow Chart

## Example

In [21]:
num  = 10

#try 0, -1 and None (-1 is true in Python)
if num > 0:
    print("Number is positive")
print("This will print always")

#change number

Number is positive
This will print always

## if.... else Statement

### Example:

In [22]:
num = 10
if num > 0:
    print("Positive Number")
else:
    print("Negative Number")

Positive Number

### if...elif...else Statement

### Example:

In [26]:
#elif is else if

num = 10.5

if num > 0:
    print("Positive Number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

Positive Number

## Nested if Statements

We can have if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming.

### Example:

In [27]:
num = 10.5

if num >= 0:
    if num == 0:
        print("ZERO")
    else:
        print("Positive Number")
else:
    print("Negative Number")

Positive Number

### Python program to find the largest element among three Numbers

In [28]:
num1 = 10
num2 = 50
num3 = 15

if (num1 >= num2) and (num1 >= num3):   #Logical Operator AND
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3
print("Largest element among three numbers is: {}".format(largest))

Largest element among three numbers is: 50

**if-else is very important if you want how your code shoud execute**

# Control Flow: while loop

## Python while Loop

The while loop in Python is used to iterate over a block of code as long as the test expression(condition) is true.

## Syntax:

while test_expression:

    Body of while
    
The body of the loop is entered only if the test_expression evaluates to True.

After one iteration, the test expression is checked again.

This process continues till the test_expression is evaluated false.

### Example:

In [29]:
#Find product of all the numbers present in the list:

lst = [10, 20, 30, 40, 50]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1
    
print("Product is: {}".format(product))

Product is: 12000000

## while loop with else

The else part is executed if the condition in the while loop evaluates to False. The while loop can be terminated with a **break statement**

In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [31]:
numbers  = [1,2,3,4,5]

#iterating over the list

index = 0
while index < len(numbers):
    print(numbers[index])
    index += 1
else:
    print("no item left in the list")

1
2
3
4
5
no item left in the list

### Python Program to check given number is Prime number or not

In [2]:
num  = int(input("Enter a number: "))  #convert string to int

isDivisible  = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
    i +=1;
    
if isDivisible:
    print("{} is NOT a Prime Number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 2
2 is a Prime number

## Python for Loop

The for loop in Python is used to iterate over a sequence(list,tuple,string) or other iterable object.
Iterating over a sequence is called traversal.

### Syntax

for **element** in **sequence**:
    
    Body of for

Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until we reach the last item in the sequence.

### Example:

In [41]:
#find product of all numbers present in a list

lst = [10,20,30,40,50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele
    
print("Product is {}".format(product))

Product is 12000000

## range() function

### Example

In [42]:
#print range of 10
for i in range(10):
    print(i)
    
#range(10) here does not produce a explicit list, 
#it just iterates[saves a lot of space...]

0
1
2
3
4
5
6
7
8
9

In [43]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [44]:
lst = ["satish","srinu","murali","naveen","bramha"]
    
#iterate over the list using index
for index in range(len(lst)):
    print(lst[index])
    
#or

for ele in lst:         #much more crisp, elegant
    print(ele)

satish
srinu
murali
naveen
bramha
satish
srinu
murali
naveen
bramha

## for loop with else

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [46]:
numbers = [1,2,3]

#iterating over the list
for item in numbers:
    print(item)
else:
    print("no item left in the list")

1
2
3
no item left in the list

In [47]:
numbers = [1,2,3]

for item in numbers:
    print(item)
    if item % 2 == 0:
        break
else:
    print("no item left in the list")

1
2

### Python Program to display all prime numbers within an interval

In [48]:
index1  = 10
index2 = 50

print("Prime numbers between {0} and {1} are :".format(index1, index2))

for num in range(index1, index2+1):  #default step size is 1
    if num > 1:
        isDivisible = False
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True;
        if not isDivisible:
            print(num)

Prime numbers between 10 and 50 are :
11
13
17
19
23
29
31
37
41
43
47

## Python break and continue Statements

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

The break and continue statements are used in this cases.

### Python break statement

Syntax:

    break
    
### Example:

In [50]:
numbers  = [1,2,3,4]
for num in numbers:       #iterating over list
    if num  == 4:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")    #break will bring here directly as this is for with else

1
2
3
Outside of for loop

### Python Program to check given number is Prime number or not (using break)

In [52]:
num  = int(input("Enter a number: "))  #convert string to int

isDivisible  = False;

i=2;
while i < num:
    if num % i == 0:
        isDivisible = True;
        print("{} is divisible by {}".format(num,i))
        break; # this line is the only addition
    i +=1;
    
if isDivisible:
    print("{} is NOT a Prime Number".format(num))
else:
    print("{} is a Prime number".format(num))

Enter a number: 19
19 is a Prime number

**Usually 80% of the compilation time is used in loops, above code reduce the number of iterations**

## Python Continue Statement

syntax:

    continue
### Example:

In [53]:
#print odd numbers present in the list
numbers = [1,2,3,4,5,6]

for num in numbers:
    if num % 2 == 0:
        continue
    print(num)
else:
    print("else-block")

1
3
5
else-block

In above code, unlike break continue doesn't take you out of the else part of the loop it takes you to the starting of the loop